body {
    background-color: #54657d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    background-color: #a0e4b0;
    padding: 0.2rem;
    border-bottom: 0.2rem;
    border-color: aliceblue;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

.Navbar li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 0rem 2rem;
}

.Navbar li a {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.2rem 2.5rem 1.2rem 2.5rem;
    color: #54657d;
    transition: background 0.5s ease-out, color 0.5s ease-out;
}

.Navbar li :hover {
    color: aliceblue;
    background: #54657d;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35rem;
}

.Navbar li a {
    text-decoration: none;
}

.Btn {
    font-size: 1.3rem;
    display: block;
    border-radius: 1rem;
    border-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #a0e4b0;
    text-decoration: none;
}

.Btn:hover {
    color: #54657d;
    background: aliceblue;
    transition: background 0.5s ease-out, color 0.5s ease-out;
}

.Header {
    text-align: center;
}

.RecipeCategoryContent {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 900px) {
    .RecipeCategoryContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .RecipeItem {
        min-width: 70%;
    }
    .RecipeCategory h2 {
        text-align: center;
    }
}

.RecipeCategory h2 {
    font-size: 2rem;
    color: #54657d;
    background-color: #a0e4b0;
    padding: 0.5rem 1rem 0.8rem 2rem;
    border-top: 0.2rem;
    border-bottom: 0.2rem;
    border-color: aliceblue;
    border-style: solid;
    border-left: none;
    border-right: none;
}

.RecipeItem {
    width: 25%;
    padding: 2rem;
    text-align: center;
    background-color: #a0e4b0;
    border-color: aliceblue;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 20px;
    margin: 1rem;
}

.SearchBar {
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
}

.SearchInstructions {
    color: aliceblue;
}

.Input {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    margin: auto;
    background: #a0e4b0;
    border-color: aliceblue;
    border-radius: 1rem;
    width: 20rem;
}

.RecipeTitle {
    cursor: pointer;
}

.RecipeTitle:hover {
    transform: scale(1.2);
    transition: background 0.5s ease-out, color 0.5s ease-out;
}


/* .Input {
    width: 20rem;
} */

.Footer {
    text-align: center;
    padding-top: 1.5rem;
    color: aliceblue;
}

.Footer h1 {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
}

.Footer h1:hover {
    transform: translateY(1rem);
    color: #a0e4b0;
}

.SearchResult {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 1.5rem;
    text-align: center;
    background-color: #a0e4b0;
    border-color: aliceblue;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 20px;
    margin-top: 3rem;
}

.SearchResult h3 {
    text-align: center;
}

.SearchResult small {
    text-align: center;
}

.ButtonLink {
    cursor: default;
}