body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    background-color: #a0e4b0;
    padding: 0.2rem;
}

.Navbar li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 0rem 2rem;
}

.Navbar li a {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.2rem 2.5rem 1.2rem 2.5rem;
    color: green;
    transition: background 0.5s ease-out, color 0.5s ease-out;
}

.Navbar li :hover {
    color: white;
    background: #008000;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35rem;
}

.Navbar li a {
    text-decoration: none;
}

.Btn {
    cursor: pointer;
    font-size: 1.3rem;
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #a0e4b0;
    text-decoration: none;
}

.Btn:hover {
    color: white;
    background: green;
    transition: background 0.5s ease-out, color 0.5s ease-out;
}

.Header {
    text-align: center;
}

.RecipeCategoryContent {
    display: flex;
    justify-content: space-around;
}

.RecipeCategory h2 {
    font-size: 2rem;
    background-color: #a0e4b0;
    padding: 0.5rem 1rem 0.8rem 2rem;
}

.RecipeItem {
    width: 25%;
    padding: 10px;
    text-align: center;
    background-color: #a0e4b0;
    border-color: green;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 20px;
}

.SearchBar {
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1rem;
}

.Input {
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    width: 50px;
    margin: auto;
    background: #a0e4b0;
    border-color: black;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 1rem;
}

.RecipeTitle {
    cursor: pointer;
}

.RecipeTitle:hover {
    transform: scale(1.2);
    transition: background 0.5s ease-out, color 0.5s ease-out;
}

.Input {
    width: 30%;
}

.Footer {
    text-align: center;
    padding-top: 1.5rem;
}